.inputField{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;

}
.inputField>label{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}
.inputField>input{
    width: 300px;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    border:1px solid gray;
    
}
.inputField>input::placeholder{
    font-size: 10px;
}

.inputField>input:focus{
    border:1px solid rgb(0, 0, 0)
}
.inputField>span{
    width: 300px;
    padding: 2px;
    font-size: 12px;
    color: red;
    display: none;
}
input:invalid[focused = "true"] ~ span{
    display: block;
}
input:invalid[focused = "true"]{
    border:1px solid red;
}