.footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Courier New', Courier, monospace;
    border-top: 2px outset rgb(182, 182, 182);
    padding: 50px 0px 50px 0px;
    
}
.footerBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    max-width: 1300px;
    width: 100%;
}
.footerWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footerWrapper>.footerHeadings>h4 {
    color: rgb(82, 82, 82);
}
.footerLinks {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footerLinks>p {
    color: rgb(82, 82, 82);
    font-weight: 500;
}

.footerLinks>p:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (min-width:360px) and (max-width:765px) {
    .footerBox {
      flex-direction: column;
      gap: 20px;
      padding: 30px 0px 30px 0px;
    }
    .footerContainer:hover {
        cursor: pointer;
    }
    .footerLinks {
        display: none;
    }
}
@media screen and (min-width:765px) and (max-width:1300px) {
.footerBox {
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
}
.footerWrapper {
    width: 300px;
}
}