*{
  box-sizing: border-box;
}
.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50 10 50 10;
    width: 100%;
    
}
.profile-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1300px;
  width: 100%;
  padding: 20 0 20 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
  }
  .grid-item {
    background-color: rgba(241, 240, 240, 0.8);
    border: 1px solid rgba(82, 82, 82, 0.2);
    padding: 20px;
    cursor: pointer;
  }
  .grid-item:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
  .profile-details {
    display: flex;
    gap:30px;
  }

  .profile-icons {
    color: rgb(135, 135, 135);
    font-size: 2.5rem;
  }
  .details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
  }
  .details>h5 {
    color: rgb(82, 82, 82);
    font-size: 1.5rem;
  }
  .details>p {
    font-size: 1rem;
    text-align: start;
    line-height: 1.5rem;
  }
  .p-tag {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
  }
  .p-tag>p {
    text-align: start;
  }
  .heading>h2 {
    color: rgb(82, 82, 82);
  }


  @media screen and (min-width:360px) and (max-width:765px) {
    .grid-container {
      grid-template-columns: repeat(1, 1fr);
    }

  }

  @media screen and (min-width:765px) and (max-width:1100px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }