.promotionContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    font-family:'Courier New', Courier, monospace;
   
}
.promoBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-color: rgb(224, 224, 224);
    width: 420px;
    padding: 30px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.1);
}
.promoBoxBlue {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-color: rgb(8, 8, 89);
    width: 420px;
    padding: 30px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.1);
}
.promotionContainer h2 {
    color:rgb(255, 67, 4);    
}
.promotionContainer p {
    font-size: 1.1rem;
}
.whiteLetter {
    color: rgb(255, 254, 254);
}
.promoBtn {
    background-color:rgb(255, 67, 4);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

@media screen and (min-width:360px) and (max-width:765px) {
    .promotionContainer {
     flex-direction: column;
    }
    .promoBox {
        max-width: 320px;
    }
    .promoBoxBlue {
        max-width: 320px;
    }
    .promotionContainer p {
        font-size: 15px;
    }
}